{% comment %}
  JSON-LD: WebSite/WebPage, BlogPosting для постов, BreadcrumbList.
  Требует: include i18n.html, page_description, site_title (или page_title).
{% endcomment %}
{% assign json_site_url = site.url | append: site.baseurl %}
{% assign json_site_name = site.title %}
{% if current_lang == 'ru' and site.title_ru %}
  {% assign json_site_name = site.title_ru %}
{% endif %}

{% if page.collection == 'posts' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ json_site_name | jsonify }},
    "url": {{ json_site_url | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ json_site_url }}{{ page.url }}"
  },
  "url": "{{ json_site_url }}{{ page.url }}",
  "description": {{ page.excerpt | strip_html | strip_newlines | truncate: 160 | default: page_description | jsonify }}
  {% if page.image %}
  ,"image": "{{ json_site_url }}/assets/images/posts/{{ page.image }}"
  {% endif %}
}
</script>
{% endif %}

{% unless page.collection == 'posts' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.url == '/' or page.url == '/index.html' or page.url == '/ru/' or page.url == '/ru/index.html' %}WebSite{% else %}WebPage{% endif %}",
  "name": {{ page.title | default: json_site_name | jsonify }},
  "url": "{{ json_site_url }}{{ page.url }}",
  "description": {{ page_description | jsonify }},
  "inLanguage": "{{ current_lang }}"
  {% if page.url == '/' or page.url == '/index.html' or page.url == '/ru/' or page.url == '/ru/index.html' %}
  ,"publisher": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }}
  }
  {% endif %}
}
</script>
{% endunless %}

{% comment %} BreadcrumbList {% endcomment %}
{% if current_lang == 'ru' %}
  {% assign home_name = 'Фотопроекты' %}
  {% assign blog_name = 'Блог' %}
  {% assign about_name = 'Обо мне' %}
{% else %}
  {% assign home_name = 'Photoprojects' %}
  {% assign blog_name = 'Blog' %}
  {% assign about_name = 'About me' %}
{% endif %}
{% assign home_url = '/' %}
{% if current_lang == 'ru' %}
  {% assign home_url = '/ru/' %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {% if page.collection == 'posts' %}
    {"@type": "ListItem", "position": 1, "name": {{ home_name | jsonify }}, "item": "{{ json_site_url }}{% if current_lang == 'ru' %}/ru/{% else %}/{% endif %}"},
    {"@type": "ListItem", "position": 2, "name": {{ blog_name | jsonify }}, "item": "{{ json_site_url }}{% if current_lang == 'ru' %}/ru/blog{% else %}/blog{% endif %}"},
    {"@type": "ListItem", "position": 3, "name": {{ page.title | jsonify }}, "item": "{{ json_site_url }}{{ page.url }}"}
    {% elsif page.collection == 'photoprojects' %}
    {"@type": "ListItem", "position": 1, "name": {{ home_name | jsonify }}, "item": "{{ json_site_url }}{{ home_url }}"},
    {"@type": "ListItem", "position": 2, "name": {{ page.title | jsonify }}, "item": "{{ json_site_url }}{{ page.url }}"}
    {% else %}
    {"@type": "ListItem", "position": 1, "name": {{ page.title | default: json_site_name | jsonify }}, "item": "{{ json_site_url }}{{ page.url }}"}
    {% endif %}
  ]
}
</script>
