---
layout: default
lang: ru
title: Блог
description: Личный блог о технологиях, путешествиях и саморазвитии
---
{% include i18n.html %}
<div class="posts">
    {% assign posts_to_show = site.posts | where: "lang", "ru" %}
    {% for post in posts_to_show %}
    <article class="post-preview" itemscope itemtype="http://schema.org/BlogPosting">
        <h2 itemprop="name headline">
            <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a>
        </h2>
        <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" class="post-date">
                {{ post.date | date: "%d.%m.%Y" }}
            </time>
        </div>
        
        <div class="post-excerpt" itemprop="description">
            {{ post.content | strip_html | truncatewords: 50 }}
        </div>
        
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" aria-label="{{ t.common.read_more }} {{ post.title }}">{{ t.common.read_more }}</a>
    </article>
    {% endfor %}
</div>
